VITE_API_BASE_URL=http://127.0.0.1:8789
VITE_BLINK_API_BASE_URL=http://127.0.0.1:3000
VITE_SOLANA_CLUSTER=devnet
VITE_SOLANA_RPC_HTTP=https://api.devnet.solana.com
VITE_SOLANA_RPC_WS=wss://api.devnet.solana.com
